/*列表右侧附加信息的内容太长会显示省略号，需要手动修改*/
.at-list__item .item-extra__info {
    text-overflow: initial;
}
.at-list__item::after {
    left: 0;
}
.at-list__item:active{
    background: transparent;
}
// 强制不换行
.at-list__item-extra{
    white-space: nowrap;
}

.card-group
{
    color: #494E54;
    border: none;
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.19);
    .at-card-header{
        border: none;
        &::after{
            content: '';
            position: absolute;
            transform-origin: center;
            box-sizing: border-box;
            pointer-events: none;
            top: -50%;
            left: -50%;
            right: -50%;
            bottom: -50%;
            border: 0 solid #DCDCDC;
            transform: scale(0.5);
            border-top-width: 1PX;
            border-bottom-width: 1PX;
        }
    }
}
.item-content__info-title{
    font-size: 14pt;
    color: #494E54;
}