.buy-power-cost {
    /*输入方式*/
    .input-method{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /*输入框样式*/
    .power-input{
        padding: 0;
        margin: 0 auto;
        width: 100%;
        input{
            text-align: center;
        }
    }
    /*总电量、电价列表样式*/
    .power-input-list, .power-result-list {
        margin-top: 20px;
    }
    /*年度用电量、用电均价单位样式*/
    .power-result-unit {
        margin-left: 5px;
        font-size: 24px;
    }
    
}
