.result-wrp{
    background:#fff;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    .taro-text{
        font-size: 28px;
    }
    .result-img{
        width:120px;
        margin: 66px auto 27px auto;
        display: block;
        height:120px;
    }
    h3{
        text-align: center;
        font-size: 28px;
        font-weight:bold;
    }
    .at-list__item .at-list__item-extra .item-extra__info{
        max-width: 100%;
    }
    .result-header{
        width: 100%;
        height: 400px;
        background:url(../../assets/panbackg.png) no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 28px;
        box-sizing: border-box; 
        .title{
            color: #fff;
            font-weight: bold;
        }
    }
    .card{
        margin: 0 !important;
    }
}
.result{
    .at-modal__container{
        .at-modal-header{
            color:#fff;
        }
        .at-modal-content{
            padding-top:0;
            .at-input{
                background: transparent;
                .at-input__title{
                    color: #fff;
                }
                .at-input__input{
                    color:#fff;
                    text-align: left;
                }
            }
            .sumitButton{
                width: 160px;
                height: 70px;
                line-height: 70px;
                margin-top: 60px;
                color: #1BDCE3;
                background: #262828;
                font-size: 28px;
                padding: 0;
                border: 1PX solid #1BDCE3;
                border-radius: 0px;
            }
        }
    }
    .stepBtn.at-button{
         position: absolute;
         bottom: 90px;
    }
    .stepBtn.at-button--primary{
         right:32px;
    }
    .stepBtn.at-button--secondary{
         left: 32px;
         background: #fff;
    }
}