.flex-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #262828;
    height: 40pt;
    padding-left: 15pt;
    padding-right: 15pt;
    .flex-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*input自定义样式*/
        .checkbox-container{
            position: relative;
            box-sizing: content-box;
            width: 20px;
            height: 20px;
            border: 2px solid #D8E4E4;
            border-radius: 50%;
            -webkit-appearance:none;
            background-color:transparent;
            line-height: 20px;
            .checked{
                content: '✓';
                position: absolute;
                top: 0;
                left: 0;
                width: 150%;
                height: 100%;
                font-size: 30px;
                text-align: center;
                color: #28EA76;
            }
        }
        &.current{
            .checkbox-container{
                .checked{
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    top: 50%;
                    left: 50%;
                    margin-top: -6px;
                    margin-left: -6px;
                    border-radius: 50%;
                    background: #1BDCE3;
                }
            }         
        }
    }
    /*横线样式*/
    hr{
        width: 20%;
        border-top-width: 1px;
        border-top-style: solid;
    }
}