.flex-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #262828;
    height: 40pt;
    padding-left: 15pt;
    padding-right: 15pt;
    .flex-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*input自定义样式*/
        input[type=checkbox]{
            position: relative;
            box-sizing: content-box;
            width: 10pt;
            height: 10pt;
            border: 1pt solid #D8E4E4;
            border-radius: 50%;
            background-color:transparent;
            line-height: 10pt;
            overflow: auto;
            &:checked::before{
                content: '✓';
                position: absolute;
                top: 0;
                left: 0;
                width: 120%;
                height: 100%;
                font-size: 11pt;
                text-align: center;
                color: #28EA76;
            }
            &.current{
                &:checked::before{
                    content: '';
                    position: absolute;
                    box-sizing: content-box;
                    border: 1pt solid #1BDCE3;
                    width: 4pt;
                    height: 4pt;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    background: #1BDCE3;
                }     
            }

        }
    }
    /*横线样式*/
    hr{
        width: 20%;
        border-top-width: 1px;
        border-top-style: solid;
    }
}