.elec-cost-high{
    .month-item {

        /*第二排月份需要设置margin-top跟第一排的距离*/
        &.secondLineMarginTop {
            margin-top: 28px;
        }

        /*月份圆圈样式*/
        .month-circle{
            box-sizing: border-box;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            border: 2px solid #E7E7E7;
            background: transparent;
            margin: 0 auto;
            line-height: 80px;
            text-align: center;
            color: #313131;
            &.finished {
                background: #313131;
                border: 0;
                color: #FEFEFF;
                line-height: 25px;
                padding-top: 15px;
                font-size: 24px;
                img {
                    width: 15px;
                    height: 20px;
                }
            }
            &.current{
                border: 2px solid #1BDCE3;
            }
        }
    }

    .noPadding{
        .at-card-content {
            padding: 0;
        }
    }

    /*输入框样式*/
    .power-input{
        padding: 0;
        margin: 0 auto;
        width: 100%;
        input{
            text-align: right;
            font-size: 28px;
            color: #494E54;
        }
    }
    /*单位样式*/
    .unit {
        margin-left: 10px;
        color: #919191;
        font-size: 28px;
    }
    .proporation {
        margin-top: -30px;
        height: 100px;
    }

    .year-power {
        &::after {
            border-bottom: 0;
        }
    }

    .at-card {
        color: #494E54;
        border: none;
        box-shadow: 0 4px 8px -4px rgba(0,0,0,0.19);
        margin: 0;
        border-radius: 0;
        margin-top: 20px;
    }

    /*列表右侧附加信息的内容太长会显示省略号，需要手动修改*/
    .at-list__item .item-extra__info {
        text-overflow: initial;
        max-width: initial;
        width: 90%;
    }
    .at-list__item::after {
        left: 0;
    }
    .at-list__item:active{
        background: transparent;
    }
    /* 强制不换行 */
    .at-list__item-extra{
        white-space: nowrap;
        flex: 1;
    }

    .item-content__info-title{
        font-size: 28px;
        color: #494E54;
    }

    .at-checkbox__title{
        color: #494E54;
    }

    .at-list__item-content {
        flex: none;
    }
}

