#app{
    position: relative;
    .taro_page{
        background:#efefef;
        position: relative;
        height: 100%;
        .page{
            height: 100%;      
            .card{
                margin: 20px 0 20px 0;
                .at-list::after{
                    box-shadow: 0 4px 22px -4px rgba(0,0,0,0.19);
                    border: none;
                }
                .item-content__info-title{
                    color: #494E54;
                    font-size: 28px;
                }
                .at-list__item::after{
                    left: 0;
                    border-color: #DCDCDC
                }
                .at-card{
                    color: #494E54;
                    border: none;
                    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.19);
                    .at-card-header{
                        border: none;
                        &::after{
                            content: '';
                            position: absolute;
                            transform-origin: center;
                            box-sizing: border-box;
                            pointer-events: none;
                            top: -50%;
                            left: -50%;
                            right: -50%;
                            bottom: -50%;
                            border: 0 solid #DCDCDC;
                            transform: scale(0.5);
                            border-top-width: 1PX;
                            border-bottom-width: 1PX;
                        }
                    }
                }
                .at-list{
                    .at-checkbox__icon{
                        border: 0.04267rem solid #1BDCE3;
                    }
                    .at-checkbox__icon--selected{
                        background-color: #313131;
                        .at-icon{
                            color: #28EA76 !important;
                        }
                    }
                    .at-checkbox__title{
                        color: #494E54;
                    }
                    .at-list__item {
                        .at-list__item-extra{
                            flex: 1;
                            line-height: 1;
                            .item-extra__info{
                                max-width: calc( 100% - 60px );
                                font-size: 28px;
                                overflow: visible;
                                .at-input{
                                    padding: 0;
                                    margin: 0 auto;
                                    background: transparent;
                                    .at-input--disabled{
                                        opacity: 1;
                                    }
                                    .at-input__title{
                                        order: 1;
                                        width: auto;
                                        color: #919191;
                                        font-size: 28px;
                                    }
                                    input{
                                        color: #494E54;
                                        text-align: right;
                                        font-size: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
            }     
        }
    }
}

.slide-in-enter {
    transform: translate3D(100%, 0, 0);
    transition: all 200ms linear;
  
    &.slide-in-enter-active {
      transform: translate3D(0, 0, 0);
    }
}

.slide-in-back {
    transform: translate3D(-100%, 0, 0);
    transition: all 200ms linear;
  
    &.slide-in-back-active {
      transform: translate3D(0, 0, 0);
    }
}